doctype html
html
  head
    title Employee Details
  body
    h1 Employee Information
    ul
      li Name: #{employee.name}
      li Email: #{employee.email}
      li Department: #{employee.department}
      li Salary: #{employee.salary}
    
